nav li {
    display: inline;
    font: 1.1em sans-serif;
    float: right;
    margin: 15px 0 0 15px;
    text-decoration: none;
}

nav a {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    font-size: 18px;
    color: red;
}
;
body {
    margin: 0;
    padding: 0;
    background-color: #78ddff;
    background-image:url("imagens/fundo10.jpg");
    background-size:auto;
    background-repeat:no-repeat;
    background-position:right;
    line-height: 1.5;
    text-align:center;
    font-family: sans-serif;
}